
.parallax-container {
    height: "your height here";
  }

  
  .contactenos{
    background-color: #3E3E3E;
    /*background-image: url("https://www.launchbit.com/carbon-i/6905-GermainCarbon.png");
    position: relative;*/
}






