<section id="principal" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row">
                <div class=" col s12 m6  center-align">
                    <img class="hide-on-med-and-down responsive-img" src="assets/imagenes/celular.png" width="230" height="400" style="margin-top:2em; margin-left:-20em;">
                </div>
                <div class="col s12  m6  center-align hide-on-med-and-down">
                    <div class="icon-block">
                        <img src="assets/imagenes/logo.png" style="width:7em;  height:7em; margin-top:3em;" class="responsive-img" alt="">
                        <mat-icon class=" responsive-img" style="width:15em;  height:8em" svgIcon="icon-nombre"></mat-icon>
                        <p class="tamanoLetra">Conoce toda la información de los
                            <br> centros deportivos más cercanos.
                            <br> "Sana diversión cerca de ti"</p>
                        <img src="assets/imagenes/googlePlay.png" width="40%" alt="">
                    </div>
                </div>

            </div>
            <div id="mobile-demo" class="center">
                <img src="assets/imagenes/logo.png" style="width:7em;  height:7em; margin-top:3em;" class="responsive-img" alt="">
                <mat-icon class=" responsive-img" style="width:15em;  height:8em" svgIcon="icon-nombre"></mat-icon>
                <div class="tamanoLetra">
                    Conoce toda la información de los
                        <br> centros deportivos más cercanos.
                        <br> "Sana diversión cerca de ti"
                </div>
                <img src="assets/imagenes/googlePlay.png" width="120em" height="100em" alt="">
            </div>
        </div>
    </div>
    <div class="parallax" materialize="parallax">
        <img class="responsive-img" src="assets/imagenes/fondo.png" style="transform: translate3d(-50%, 209.795px, 0px); opacity: 1;">
        <mat-icon svgIcon="icon-nombre"></mat-icon>
    </div>
</section>